
*{
  box-sizing: border-box;  
  margin: 0px;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;}

p{text-align: justify;}

.primary-bgcolor{background-color: #6C8F8F;}

.primary-txtcolor{color: #6C8F8F;}

.flex{display: flex;}

.underline{text-decoration: underline solid #6C8F8F;}

i{font-size: 30px;
  color: white;}

/*----------Mobile first----------*/
/*-------------Header-------------*/

.header{
  width: 100%;
  margin: auto;
  flex-direction: column;}

.avatar__img{
  display: block;
  margin: 50px auto;
  border-radius: 50%;}

.heading{
  padding: 70px 30px;
  background-color: azure;}

/*-----------Container-----------*/

.container{
  flex-direction: column;
  width: 100%;
  margin: 0px auto;}

/*-------------aside-------------*/

.side{
  color: white;}

.side__heading{
  background-color: #454545;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;}

.side__text{
  padding: 25px;}

.contact{
  flex-direction: column;
  flex-wrap: wrap;}

.contact__item{
  padding: 10px;
  list-style: none;
  padding-left: 25px;
  width: 250px;}

.contact__item a{
  color: white;}

/*-------------Main-------------*/

.main-content{
  background-color: azure;
  padding: 25px;}

.main-content p, .card{
  padding-bottom: 20px;}

.card__innercon{
  flex-direction: column;}

.side--space{
  justify-content: space-around;}

.card--arrow , .card--bullet {
  font-size: 15px;
  padding-right: 20px;}

.card--bullet {
  font-size: 5px;
  vertical-align: middle;}

.card-icon--padding{
  padding: 0px 30px 15px 0px;}


/*------------Footer------------*/

.footer{
  background-color: #454545;
  padding: 10px;
  width:100%;
  margin: 0px auto 10px auto;}

.footer__text{
  text-align: center;}

/*------For mid size screen---- */

@media only screen and (min-width: 600px){

  .header{
    text-align: center;}

  .contact{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;}

  .contact__item{
    text-align: center;
    padding-left: 20px;}
  
  .card__innercon{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;}

  .card__innercon p:nth-child(1){
    flex-basis: 40%;}

  .card__innercon p:nth-child(2){
    flex-basis: 50%;}

}

/*-------For Large screen-------*/

@media only screen and (min-width: 960px){

  .container{
    flex-direction: row;
    width: 80%;}

  .header{
    width: 80%;
    flex-direction: row;
    text-align: left;}

  .avatar{
    width:30%;}

  .heading{
    width:70%;}

  .side{
    width: 30%;}

  .main-content{
    width: 70%;}

  .contact{
    flex-direction: column;}

  .contact__item{
    text-align: left;
    padding-left: 25px;}
  
  .footer{ 
    width: 80%;}

}