
*{
  box-sizing: border-box;  
  margin: 0px;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  
}

/*----------Mobile first----------*/
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto 0px auto;
  
}

#avatar{
  display: block;
  margin: 50px auto;
  border-radius: 50%;
}
p{
 text-align: justify;
}
aside{

  background-color: #6C8F8F;
  color: white;
}

aside p{
  padding: 25px;
  text-align: justify;
}

aside h2{
  background-color: #454545;
  color: #6C8F8F;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li{
  padding: 20px;
  list-style: none;
  padding-left: 25px;
  width: 200px;
}

main{
  background-color: azure;
}

.name{
  text-transform: uppercase;
  font-size: 2.5em;
}

header{
  padding: 45px 0px 100px 0px;
}

.name span{
  color: #6C8F8F;
}

.uyellow span{
  text-decoration: underline solid #6C8F8F;
}

section{
  padding: 25px;
}

main section p{
  padding-bottom: 20px;
}

section div{
  padding-bottom: 20px;
}

.fontaw{
  display: flex;
  justify-content: space-around;
}

i{
  font-size: 30px;
  color: white;
}
hr{
  color: #6C8F8F;
}

h3 i{
  color: #6C8F8F;
  font-size: 20px;
  padding: 0px 30px 15px 0px;
}

.arrow , .bullet {
  font-size: 15px;
  color: #6C8F8F;
  padding-right: 20px;
}

.bullet {
  font-size: 5px;
  vertical-align: middle;
}
.innercon{
  display: flex;
  flex-direction: column;
  
  
}

footer{
  background-color: #454545;
  padding: 10px;
  width:100%;
  margin: 0px auto 10px auto;
}

footer p{
  text-align: center;
  color: #6C8F8F;
}

/*------For mid size screen---- */

@media only screen and (min-width: 600px){


  ul{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  li{
    text-align: center;
    padding-left: 20px;
  }
  
  .innercon{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .innercon p:nth-child(1){
    flex-basis: 40%;
  }

  .innercon p:nth-child(2){
    flex-basis: 50%;
  }



}

/*-------For Large screen-------*/

@media only screen and (min-width: 960px){
  .container{
    flex-direction: row;
    width: 80%;
  }
  aside{
    width: 30%;
  }
  main{
    width: 70%;
  }
  ul{
    flex-direction: column;
  }
  li{
    text-align: left;
    padding-left: 25px;
  }
  
  footer{ 
    width: 80%;
  }
}